.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___4SxYu {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___4SxYu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4SxYu > :global(.__wab_flex-container) > *,
.freeBox___4SxYu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4SxYu > :global(.__wab_flex-container) > picture > img,
.freeBox___4SxYu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4SxYu {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__lzAPm {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text__efmvf {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp__r5ZI6:global(.__wab_instance) {
  position: relative;
}
.img__trYqz {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__trYqz > picture > img {
  object-fit: cover;
}
.valueProp__lrlbi:global(.__wab_instance) {
  position: relative;
}
.img__ok5Ci {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ok5Ci > picture > img {
  object-fit: cover;
}
.valueProp__aEg79:global(.__wab_instance) {
  position: relative;
}
.img__bvp {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__bvp > picture > img {
  object-fit: cover;
}
.valueProp__tfl8J:global(.__wab_instance) {
  position: relative;
}
.img__u23B {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__u23B > picture > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-dXU_1vGE9vL9);
  padding: 64px 32px;
}
.foreground3 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__imXjC {
  display: flex;
  flex-direction: column;
}
.freeBox__imXjC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__imXjC > :global(.__wab_flex-container) > *,
.freeBox__imXjC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__imXjC > :global(.__wab_flex-container) > picture > img,
.freeBox__imXjC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__r3Uq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__foyr8 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__sIxSi {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__sIxSi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__sIxSi > :global(.__wab_flex-container) > *,
.freeBox__sIxSi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sIxSi > :global(.__wab_flex-container) > picture > img,
.freeBox__sIxSi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  --plsmc-rc-col-gap: 48px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__c0OB9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__aFbQ9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cPmx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-k9Whl-UPA8O2);
  width: 28px;
  height: 28px;
}
.text__y6EAv {
  padding-left: 0px;
}
.column__jP7Iv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__si8Vj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rmbjt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-k9Whl-UPA8O2);
  width: 28px;
  height: 28px;
}
.text__gqUte {
  padding-left: 0px;
}
.column__tm1AU {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__tbUa3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rhDr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-k9Whl-UPA8O2);
  width: 28px;
  height: 28px;
}
.text__gmZl1 {
  padding-left: 0px;
}
.column__omQxk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___22YgF:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rzz7X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-k9Whl-UPA8O2);
  width: 28px;
  height: 28px;
}
.text__ihbd8 {
  padding-left: 0px;
}
.freeBox__hF4DX {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__hF4DX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hF4DX > :global(.__wab_flex-container) > *,
.freeBox__hF4DX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hF4DX > :global(.__wab_flex-container) > picture > img,
.freeBox__hF4DX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hF4DX {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__no7Ij {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__no7Ij > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__no7Ij > :global(.__wab_flex-container) > *,
.freeBox__no7Ij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__no7Ij > :global(.__wab_flex-container) > picture > img,
.freeBox__no7Ij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__q5SQ {
  display: flex;
  flex-direction: column;
}
.freeBox__q5SQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__q5SQ > :global(.__wab_flex-container) > *,
.freeBox__q5SQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q5SQ > :global(.__wab_flex-container) > picture > img,
.freeBox__q5SQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8IE5N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___8FaCy {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8FaCy {
    text-align: center;
  }
}
.text__ssffA {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___4Grar {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4Grar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___4Grar > :global(.__wab_flex-container) > *,
.freeBox___4Grar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Grar > :global(.__wab_flex-container) > picture > img,
.freeBox___4Grar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Grar {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Grar > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Grar > :global(.__wab_flex-container) > *,
  .freeBox___4Grar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4Grar > :global(.__wab_flex-container) > picture > img,
  .freeBox___4Grar
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__wJVo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__u4JG:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___5W9G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__eGIa6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vxw3I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__lo1Rm {
  height: auto;
}
.priceCard__z6Djg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__csVum {
  color: var(--token-HFjEMN-y--3C);
}
.valueProp__xI7Dt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x6Hnc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oo2JF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1U1Ty {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mgPh6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__imDri {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___097DY {
  height: auto;
}
.priceCard__aqw7C:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zrLy4 {
  color: var(--token-sc3t-ahzst57);
}
.valueProp__dRkWg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nOuC {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hWbnZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__de4Zw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oVvAa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oke4N {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5ApAe:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1MKe7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0QtpR {
  height: auto;
}
.priceCard___7XbG:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xh3Q3 {
  color: var(--token-cqH2z7tAIwAr);
}
.valueProp__evWMw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vT5Ht {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dumYf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__evqKp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pvy4B:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xFy52 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kjIpZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nXaN4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zExan {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
