.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox___7PakI {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___7PakI > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___7PakI > :global(.__wab_flex-container) > *,
.freeBox___7PakI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7PakI > :global(.__wab_flex-container) > picture > img,
.freeBox___7PakI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7PakI {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7PakI > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7PakI > :global(.__wab_flex-container) > *,
  .freeBox___7PakI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7PakI > :global(.__wab_flex-container) > picture > img,
  .freeBox___7PakI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__lrcIg {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__lrcIg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lrcIg > :global(.__wab_flex-container) > *,
.freeBox__lrcIg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lrcIg > :global(.__wab_flex-container) > picture > img,
.freeBox__lrcIg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__jlC7A {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jlC7A > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jlC7A > :global(.__wab_flex-container) > *,
.freeBox__jlC7A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jlC7A > :global(.__wab_flex-container) > picture > img,
.freeBox__jlC7A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jOSdy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jOSdy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jOSdy > :global(.__wab_flex-container) > *,
.freeBox__jOSdy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jOSdy > :global(.__wab_flex-container) > picture > img,
.freeBox__jOSdy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__pEa4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-o7_hW2a7olYL);
  flex-shrink: 0;
}
.svg__va7By {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-o7_hW2a7olYL);
  flex-shrink: 0;
}
.svg__fUm0E {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-o7_hW2a7olYL);
  flex-shrink: 0;
}
.freeBox___64Pkg {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___64Pkg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___64Pkg > :global(.__wab_flex-container) > *,
.freeBox___64Pkg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___64Pkg > :global(.__wab_flex-container) > picture > img,
.freeBox___64Pkg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cZuaf {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-o7_hW2a7olYL);
  height: auto;
}
.button__vWrnj:global(.__wab_instance) {
  position: relative;
}
.svg__nycXz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__onoEp {
  height: auto;
}
.svg__wu8Ap {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__n0Ps8:global(.__wab_instance) {
  position: relative;
}
.svg__hDfDn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__l8Yk6 {
  height: auto;
}
.svg___07BE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hemRa:global(.__wab_instance) {
  position: relative;
}
.svg__cZa6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dC8D {
  height: auto;
}
.svg__q64Eu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___1Q3:global(.__wab_instance) {
  position: relative;
}
.svg__bGk58 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__emz9D {
  height: auto;
}
.svg__kh8Ae {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__t8Lw {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__t8Lw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__t8Lw > :global(.__wab_flex-container) > *,
.freeBox__t8Lw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t8Lw > :global(.__wab_flex-container) > picture > img,
.freeBox__t8Lw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___3XCac {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-o7_hW2a7olYL);
  height: auto;
}
.button__uSXs:global(.__wab_instance) {
  position: relative;
}
.svg__nfGVg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__na0Yd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mSvl0:global(.__wab_instance) {
  position: relative;
}
.svg___48S8X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qm2Pp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__geZed:global(.__wab_instance) {
  position: relative;
}
.svg__ycqnf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nGiUy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___1RE7 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___1RE7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1RE7 > :global(.__wab_flex-container) > *,
.freeBox___1RE7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1RE7 > :global(.__wab_flex-container) > picture > img,
.freeBox___1RE7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___5F0W3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-o7_hW2a7olYL);
  height: auto;
}
.button__wySte:global(.__wab_instance) {
  position: relative;
}
.svg__ttINu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__psjB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___5X5Sl:global(.__wab_instance) {
  position: relative;
}
.svg__tKdUu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___57ZuV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lfAqR:global(.__wab_instance) {
  position: relative;
}
.svg__tYje8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jp4S5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rMkwV:global(.__wab_instance) {
  position: relative;
}
.svg__vzyXg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tp6Yv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
